.container {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.location__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background: #f6f6f6;
    border-radius: 25px;
}
