.container__about {
    height: 100%;
    display: flex;
    justify-content: center;
}

.about__wrappe {
    max-width: 1200px;
}

.container__card {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.container__card:first-child {
    width: 100%;
    padding: 1em 3em;
}
