.wrappe {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #ff6060;
    border-radius: 5px;
    padding: 0 1em;
    margin-top: 1em;
}

.wrappe h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.wrappe__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrappe__text {
    padding: 1em;
    background: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
}

.wrappe__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142.6%;
    color: #ff6060;
}

.icon {
    color: #ffffff;
    font-size: 20px;
}


