.App {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.App-wrappe {
    max-width: 1200px;
    width: 1200px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
